{% extends 'base.html' %}

{% block content %}
  <h1>About</h1>
  <br />
  <a href="/admin">Admin</a>
  <br />
  <a href="/">Home</a>
  <br />
  <a href="/contact-us">Contact Us</a>
  <div id="about"></div>
  {% include "bundler.html" with id="about-page" path="about" %}
{% endblock %}
