{% extends 'base.html' %}

{% block content %}
  <h1>Contact Us</h1>
  <br />
  <a href="/admin">Admin</a>
  <br />
  <a href="/">Home</a>
  <br />
  <a href="/">About</a>
  {% include "bundler.html" with id="contact-us" path="contact-us" %}
{% endblock %}
