{% extends 'base.html' %}

{% block content %}
  <h1>Home</h1>
  <br />
  <a href="/admin">Admin</a>
  <br />
  <a href="/about">About</a>
  <br />
  <a href="/contact-us">Contact Us</a>
  {% include "bundler.html" with id="home" path="home" data="{ 'greeting': 'Hello world', 'path': 'home' }" %}
  {% include "bundler.html" with id="about-component" path="about" %}
  <h1>foo</h1>
{% endblock %}
