<template>
    <div>Vue - Home => {{greeting}}!!!</div>
</template>

<script>
    export default {
        name: 'Home',
        props: {
            greeting: {}
        },
        mounted() {
            console.log(this)
        }
    }
</script>
